.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100vh;
}

.tab {
    width: 100vh;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.tab:hover {
    background-color: #ddd;
}

.campaign-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.campaign-card h2 {
    font-size: 1.2em;
}

.campaign-details {
    margin-top: 15px;
}

.campaign-card button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.campaign-card button:hover {
    background-color: #45a049;
}
.explore{
    margin-left: 40px;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 16px;
    background-color: rgb(7, 113, 108);
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgb(43, 63, 62);
    border:3px solid rgb(7, 113, 108); 
    text-decoration: none;
}