.heading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:  lightseagreen;
}
.campaigns-page {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .campaigns-container {
    width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  }
  
  .campaigns-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
  }
  
  @media only screen and (max-width: 768px) {
    .campaigns-list {
        flex-wrap: wrap;
        justify-content: center;
    }
}
