@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Titillium+Web:wght@200&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header-section {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    background-color: #fffdfd;
}

.left-section {
    width: 35%;
    margin-top: 70px;
    font-family: 'Poppins';
    text-align: center;
}

.section-heading {
    margin-top: 40px;
    color: rgb(27, 150, 144);
    font-size: 45px;
}

.section-desc{
    margin-top: 20px;
    font-size: 22px;
}

.btn-section{
    margin-top: 30px;
}

.btn-section button{
    margin-left: 40px;
    border-radius: 5px 5px 5px 5px;
    padding: 7px 20px;
    background-color: rgb(7, 113, 108);
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgb(43, 63, 62);
    border:3px solid rgb(7, 113, 108);    
}

.btn-section button:hover{
    margin-left: 40px;
    border-radius: 5px 5px 5px 5px;
    padding: 7px 20px;
    background-color: rgb(5, 80, 76);
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgb(43, 63, 62);
    border:3px solid rgb(5, 80, 76);    
}

.right-section {
    width: 35%;
    margin-top: 70px;
}

.brand-img {
    padding: 10px;
    width: 550px;
    border-radius: 10px;
    /* border: 0.5px solid rgb(178, 178, 178); */
}

.form-section{
    background-image: url('img/v4.jpg');
    height: 100vh;
}

.card{
    border-radius: 10px;
    border: 0.5px solid rgba(167, 164, 164, 0);
    box-shadow: 0px 0.5px 2px 0px rgb(80, 79, 79);
    width: 400px;
    margin: auto;
    align-items: center;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0.671);
    display: inline-block;
    margin-top: 100px;
    margin-left: 530px;
}

.form-heading{
    margin-top: 16px;
    font-size: 20px;
    margin-left: 40px;
    background: transparent;
    font-family: 'Poppins';
}

.form-input{
    font-size: 18px;
    padding: 5px;
    margin-left: 45px;
    width: 310px;
    border: 0.5px solid rgb(119, 118, 118);
    box-shadow: 0.5px 0.5px 2px 0px rgb(80, 79, 79);
    border-radius: 2px;
    margin-top: 10px;
    background-color: #c3f8f428;
    /* border: none;
    border-bottom: 2px solid black;
    border-top: 2px solid transparent;
    background-color: #c3f8f428; */
}

.form-btn{
    margin-top: 41px;
    margin-left: 85px;
    background-color: lightseagreen;
    font-size: 20px;
    font-family: 'Poppins';
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px rgb(14, 114, 98);
    border-color: lightseagreen;
}

.form-btn:hover{
    margin-top: 40px;
    margin-left: 85px;
    background-color: rgb(14, 116, 110);
    font-size: 20px;
    font-family: 'Poppins';
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px rgb(27, 159, 137);
    border-color: rgb(27, 159, 137);
}


