
.navbar {
    background:#666;
    color: #ffffff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-brand {
    font-size: 1.5rem;
    font-weight: none;
    padding-left: 20px;
    float: left;
    
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
  }
  
  .nav-item {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 21px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-list {
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
  
    .nav-item {
      margin: 10px 0;
    }
  }
  