.donar-card{
    width: 400px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #ffffe6;
    box-shadow: 0 0 5px black;
    
}

.donar-name{
    font-size: 20px;
}

.get-certificate-btn{
    margin-left: 270px;
    text-decoration: none;
    background-color: lightseagreen;
    padding: 2px;
    color: white;
    
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px black;
}
