.donar-card{
    width: 500px;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 5px black;
    margin-left: auto;
    margin-right: auto;
    
}

.donar-name{
    font-size: 20px;
}

.get-certificate-button{
    margin-left: 300px;
    text-decoration: none;
    background-color: rgb(7, 113, 108);
    box-shadow: 1px 1px 1px 1px rgb(43, 63, 62);
    border:3px solid rgb(7, 113, 108);    
    padding: 2px;
    color: white;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    
}
