.footer {
    background: rgba(0, 0, 0, 0.584);
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display:flex;
    justify-content: space-around;
    font-size: 20px;
  }
  