.footer {
    background: rgba(0, 0, 0, 0.584);
    color: white;
    padding: 10px;
   
    bottom: 0;
    width: 100%;
    display:flex;
    justify-content: space-around;
    font-size: 23px;
  }
  