.donation-page-container{
    background-color: #ffe6e6;
    margin-top: -20px;
    min-height: 90vh;
    display: block;
    
}

.donation-page-title{
    margin-top: 10px;
    text-align: center;
    color:  lightseagreent;
    font-size: 30px;
}

.donation-page-body{
    margin-top: -15px;
    display: flex;
    justify-content: space-around;
}

.user-input{
    display: block;
    font-size: 25px;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

.add-donar-btn{
    display: block;
    text-align: center;
    font-size: 25px;
    padding: 10px 50px;
    margin: 10px auto;
    background-color: tomato;
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

.donation-heading{
    text-align: center;
    font-size: 30px;
    
}

.add-donar{
border: 1px solid black;
padding: 10px;
background-color: #ffffe6;
box-shadow: 0 0 5px black;

}

