.donation-page-container{
    background-color: #ffe6e6;
    margin-top: -20px;
    min-height: 90vh;
    display: block;
    
}

.donation-page-title{
    margin-top: 10px;
    text-align: center;
    color: lightseagreen;
    font-size: 30px;
}

.donation-page-body{
    margin-top: -15px;
    display: flex;
    justify-content: space-around;
}

.user-input{
    display: block;
    font-size: 25px;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    background-color:rgb(222, 248, 247) ;
}

.add-donar-btn{
    display: block;
    text-align: center;
    font-size: 25px;
    padding: 10px 50px;
    margin: 10px auto;
    background-color: lightseagreen;
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

.donation-heading{
    text-align: center;
    font-size: 30px;
}

.form-heading{
    background-color: lightseagreen;
}

.add-donar{
border: 1px solid black;
padding: 10px;
background-color: #ffffe6;
box-shadow: 0 0 5px black;
border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .donation-page-body {
        flex-wrap: wrap;
        justify-content: center;
    }
    .add-donar{
        margin-top: 15px;
        margin-bottom: 15px;
    }

}
